h1{
    color: red;
    text-decoration: overline;
    text-decoration: underline;
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
    color: blue;
}

a:hover {
    color: black;
}


